<h1 class="fontChange">Welcome Admin..!</h1>
<div class="container">
    <button type="button" class="btn changeSize changeFont" (click)='displayModal()'>View Room Listing</button>

    <br />
    <br />
    <button type="button" class="btn changeSize changeFont" (click)='displayModal()'>View Room Listing</button>
    <br />
    <br />
    <button type="button" class="btn changeSize changeFont" (click)='displayModal()'>All Guest Listing </button>
  </div>

    <!-- <div id="modal" class="container tableCenter contBorder" style="display:none">
      <form class="tdWidth tableCenter" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit(myForm)">
        <br />
        <br />
        <p><input class="inputCSS form-control" formControlName="name" id="name" placeholder="Hawker Centre Name" /></p>
        <p><input class="inputCSS form-control" formControlName="address" id="address" placeholder="Hawker Centre Address" /></p>
        <p><input type="number" class="inputCSS form-control" formControlName="people" id="people" placeholder="People" /></p>
        <p><input type="number" class="inputCSS form-control" formControlName="rating" id="rating" placeholder="Rating" /></p>
        <p><input class="inputCSS form-control" formControlName="phone" id="phone" placeholder="Contact Number" /></p>
        <p><input type="email" class="inputCSS form-control" formControlName="email" id="email" placeholder="Email" /></p>
        <p><input class="inputCSS form-control" formControlName="coverImage" id="coverImage" placeholder="Enter Image URL" /></p>
        <p> -->
          <!-- <button class="btn btn-secondary" type="reset" (click)='hideModal()'>Close</button>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn " type="submit reset" (click)='hideModal()'>Add</button>
        </p>
      </form>
    </div>

    <br />
    <br />

    <div id="modal2" class="container tableCenter contBorder" style="display:none">
      <form class="tdWidth tableCenter" [formGroup]="myForm2">
        <br />
        <br />
        <h2 class="changeFont2">Update/Delete Data</h2>
        <br />
        <div class="card card-block" style="width: 25rem;">
          <img class="card-img-top cardImage" src="{{getImage()}}" alt="Card image cap">
        </div>
        <br />
        <p><input class="inputCSS form-control" formControlName="name" id="name" value="{{getName()}}" /></p>
        <p><input class="inputCSS form-control" formControlName="address" id="address" value="{{getAddress()}}" /></p>
        <p><input type="number" class="inputCSS form-control" formControlName="people" id="people" value="{{getPeople()}}" /></p>
        <p><input type="number" class="inputCSS form-control" formControlName="rating" id="rating" value="{{getRating()}}" /></p>
        <p><input type="number" class="inputCSS form-control" formControlName="phone" id="phone" value="{{getPhone()}}" /></p>
        <p><input type="email" class="inputCSS form-control" formControlName="email" id="email" value="{{getEmail()}}" /></p>
        <p><input class="inputCSS form-control" formControlName="coverImage" id="coverImage" value="{{getImage()}}" /></p>
        <p>
          <button class="btn btn-primary" (click)="hideModal2()">Close</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="deleteHawker()" >Delete</button>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="increaseQuote()" >Update</button>
        </p>
      </form>
    </div>

  </td>
</table> -->