@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Sigmar+One');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');
@import url('https://fonts.googleapis.com/css?family=Titan+One');


.container{
    text-align: center;
}

.btn{
    text-align: center;
    border: 2px solid #008CBA;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.btn:hover {
    background-color: rgb(253, 253, 253);
    color: rgb(18, 73, 223);
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }